* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  height: 100vh;
  max-height: 100vh;
}

.sky {
  position: relative;
  height: 65%;
  background: #CBEDF4;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  z-index: 5;
}

.sky img {
  width: 300px;
  margin-bottom: -20px;
}

.road {
  background: #aaaaaa;
  height: 35%;
  display: flex;
  align-items: center;
}

.road img {
  min-width: 800px;
  margin-bottom: 200px;
  z-index: 10;
  animation: drive 10s linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@keyframes drive {
  0% {
    margin-left: -100%;
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(1);
    margin-left: 100%;
  }
  51% {
    transform: scaleX(-1);
    margin-left: 100%;
  }
  100% {
    margin-left: -100%;
    transform: scaleX(-1);
  }
}